{#
/**
 * @file
 * Styles for TagClouds Views.
 *
 * Available variables:
 * - rows: Views rows.

 *
 * @see template_preprocess_tagclouds_views_view_tagcloud()
 *
 * @ingroup themeable
 */
#}
<{{ wrapper_html_item }} id="{{ id }}" class={{ class }} style="{{ wrapper_inline_styles }}">
{% for row in rows %}
    {% set row_classes = [
        default_row_class ? 'views-row',
    ] %}

    <{{ row_html_item }} {{ row.attributes.addClass(row_classes) }} {{ weight_param }}="{{ row.data_weight }}"  style="{{ item_inline_styles }}">
    <a href="{{ row.link }}" style="{{ link_inline_styles }}">{{ row.title }}</a>
    </{{ row_html_item }}>
{% endfor %}
</{{ wrapper_html_item }}>
